name: Build Rule

on:
  schedule:
    - cron: '0 22 * * *'  # Every day at 06:00 GMT
  push:
    branches:
      - build
  workflow_dispatch:

permissions:
  contents: write

jobs:
    update-rules:
      runs-on: ubuntu-latest
      env:
        TZ: Asia/Shanghai  # UTC+8
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4
          with:
            fetch-depth: 0
        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: 3.12
        - name: Build Rules
          run: |
            pip install requests
            python main.py
            mkdir out
            mv *.txt out/
        - name: git push
          run: |
            git clone "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}" push
            git config --global user.name "github-actions[bot]"
            git config --global user.email "github-actions[bot]@users.noreply.github.com"
            cp out/*.txt push/
            cd push
            git add *.txt
            git commit -m "Update Rules at $(date +'%Y-%m-%d %H:%M')"
            git push --set-upstream origin main